@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@700&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

h1{
    background-color: rgb(123, 217, 217);
    color: rgb(101, 49, 215);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    border-radius: 30px;
}

#map {
    width: 100%;
    height: 89vh;
  }